<div id="container">
    <div class="body">
        <div class="sexo">
            <img src="assets/images/masculinoCat.png">
            <div class="sessao">
                <a href=""><div class="selecao">Camisas</div></a>
                <a href=""><div class="selecao">Calças</div></a>
                <a href=""><div class="selecao">Bermudas</div></a>
                <a href=""><div class="selecao">Cuecas</div></a>
                <a href=""><div class="selecao">Acessórios</div></a>
            </div>
        </div>
        
        <div class="divisoria"></div>
        <div class="sexo">
            <img src="assets/images/femininoCat.png">
            <div class="sessao">
                <a href=""><div class="selecao feminino">Blusas</div></a>
                <a href=""><div class="selecao feminino">Calças</div></a>
                <a href=""><div class="selecao feminino">Shorts</div></a>
                <a href=""><div class="selecao feminino">Vestido</div></a>
                <a href=""><div class="selecao feminino">Sutiãs/Calcinhas</div></a>
                <a href=""><div class="selecao feminino">Acessórios</div></a>
            </div>
        </div>
 
    </div>
</div>
